# Распространенные файлы которые не нужно коммитить
*.pyc
__pycache__/
instance/
.webassets-cache

# Environment variables
.env
.flaskenv

# IDE
.idea/
.vscode/

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db

# Python
venv/
env/
.venv/